<title>TinyApp</title>
<% if (currentUser) { %>
  <h1 style="font-size: 20px">
    <%= `Email: ${users[currentUser].email}` %>
  </h1>
  <form method="POST" action="/logout">
    <input type="submit" value="logout">
  </form>
<% }  else { %>
    <input type="button" value="Register" onclick="window.location.href='/register'">
    <input type="button" name="login" value="Login" onclick="window.location.href='/login'">
<% } %>

