<!DOCTYPE html>
<html>
<head>
  <title>TinyApp -error</title>
</head>
<body>
  <h1>Error: Could not find existing user</h1>
  <form>
    <input type="button" value="Main page" onclick="window.location.href='/urls'">
  </form>
</body>
</html>