<!DOCTYPE html>
<html>
<head>
  <title>TinyApp - error</title>
</head>
<body>
  <h2>Error: Please provide input</h2>
  <form>
    <input type="button" value="Try again" onclick="window.location.href='/register'">
  </form>
</body>
</html>