<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/login">
    <label for="email">Email: </label>
    <input type="email" name="email" placeholder="Enter email...">
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="Enter passphrase...">
    <input type="submit" name="Submit">
  </form>
</body>
</html>